*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.primeraLinea{
    width: 100%;
    height: 10px;
    background-color: #00A3CF;
}

nav a img{
    width: 50px;
}

.nav-item a{
    font-size: 15px;
    color: black;
    text-align: center;
}

.nav-item a:hover{
    color: #00A3CF;
}

main{
    background-color: aquamarine;
}

.carousel-inner{
    width: 100%;
    height: 100%;
    position: relative;
}

.imagenCarousel{
    display: block;
    object-fit: cover;
    width:100%;
    height:100%;
}

main h1{
    text-align: center;
    margin: 20px 0px;
    color: cadetblue;
}

section{
    display: flex;
    flex-direction: row;
}

.imagen1{
    width: 60%;
}

footer{
    background-color: black;
    padding: 20px 0px;
}

footer section{
    display: flex;
    flex-direction: row;
    text-align: center;
}

footer section article{
    width: 25%;
    word-break:break-all;
}

footer section article figure .imagenfooter{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 20px;
}

footer section article p{
    color: beige;
}

footer section article h6{
    color: beige;
}

footer section article a{
    color: darkgray;
    text-decoration: none;
}

@media (max-width: 576px) {
    footer section{
        display: block;
    }

    footer section article{
        width: 100%;
    }

    footer section article h6{
        padding-top: 10px;
    }

    footer section article figure .imagenfooter{
        padding-bottom: 20px;
    }

}