*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.primeraLinea{
    width: 100%;
    height: 10px;
    background-color: #00A3CF;
}

nav a img{
    width: 50px;
}

.nav-item a{
    font-size: 15px;
    color: black;
    text-align: center;
}

.nav-item a:hover{
    color: #00A3CF;
}

main{
    background-color: aquamarine;
}

.texto{
    text-align: center;
    color: black;
    margin: 50px 70px 20px 70px;
}

article h2{
    font-size: 35px;
    text-align: center;
    color: #00A3CF;
}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 20px;
}

button{
    background: #00A3CF;
    padding: 10px 30px;
    color: bisque;
    font-weight: 500;
}

.boton1{
    border-radius: 30px;
}

.boton2{
    border-radius: 30px;
}

.boton3{
    border-radius: 30px;
}

.boton1:hover{
    color: black;
}

.boton2:hover{
    color: black;
}

.boton3:hover{
    color: black;
}

@media (max-width: 992px){
    .nav-item a{
        font-size: 18px;
        color: black;
    }

    nav ul{
        background-color: aquamarine;
    }

    .contenedor{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button{
        width: 50%;
    }

    .boton2{
        margin-top: 20px;
    }

    .boton3{
        margin-top: 20px;
    }
}

footer{
    background-color: black;
    padding: 20px 0px;
}

footer section{
    display: flex;
    flex-direction: row;
    text-align: center;
}

footer section article{
    width: 25%;
    word-break:break-all;
}

footer section article figure .imagenfooter{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 20px;
}

footer section article p{
    color: beige;
}

footer section article h6{
    color: beige;
}

footer section article a{
    color: darkgray;
    text-decoration: none;
}

@media (max-width: 576px) {
    footer section{
        display: block;
    }

    footer section article{
        width: 100%;
    }

    footer section article h6{
        padding-top: 10px;
    }

    footer section article figure .imagenfooter{
        padding-bottom: 20px;
    }

}